.webcam-section{
  margin:100px;  
}
.webcam-wrapper {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 4 / 3; /* Or 16/9 depending on your video */
}
/* Tablet and larger (768px+) */
@media (min-width: 768px) {
  .webcam{
    width:300;
    height: 200;
  }
}

/* Desktop (1024px+) */
@media (max-width: 874px) {
  .webcam{
    width: 680px;
    height: fit-content;
  }
 
}
@media (max-width: 769px) {
  .webcam{
    width: 600px;
    height: fit-content;
  }
  #Appcanvas{
    width:600px;
    height: fit-content;
  }
}
@media (max-width: 675px) {
  .webcam{
    width: 400px;
    height: fit-content;
  }
  #Appcanvas{
    width:400px;
    height: fit-content;
  }
}
@media (max-width: 575.98px) {
  .webcam{
    width:300px;
    height: fit-content;
  }
  #Appcanvas{
    width:300px;
    height: fit-content;
  }
}
@media (max-width: 376.98px) {
  .webcam{
    width:250px;
    height: fit-content;
  }
  #Appcanvas{
    width:250px;
    height: fit-content;
  }
  
}
@media (max-width: 432.98px) {
  .webcam{
    width:200px;
    height: fit-content;
  }
  #Appcanvas{
    width:200px;
    height: fit-content;
  }
  .currentemotion{
    font-size: small;
  }
}
@media (max-width: 301px) {
  .webcam{
    width:150px;
    height: fit-content;
  }
  #Appcanvas{
    width:150px;
    height: fit-content;
  }
  
}@media (max-width: 256.98px) {
  .webcam{
    width:80px;
    height: fit-content;
  }
  #Appcanvas{
    width:80px;
    height: fit-content;
  }
  
}
